body{
  background-image: url('./Img/background.jpg');
}

#next {
  text-align: center;
  margin-top: 20%;
}

#play h1 {
   color: rgb(93, 151, 5);
  }

  #verbs-container {
    margin: 0 35%; 
  }

  .verbs-answer{
    display: block;
  }

  .rightAnswer, .rightAnswer:hover {
    background-color: #6ab04c;
    border-color: #6ab04c;
    color: #fff;
  }

  .wrongAnswer, .wrongAnswer:hover {
    background-color: #b33030;
    border-color: #b33030;
    color: #fff;
  } 

  #next {
    margin-top: 8rem;
    cursor: pointer;
    color: green;
  }